<footer class="footer">
  <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/dota_footer_logo.png" alt="Dota 2" />

  <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/valve_logo.png" alt="Valve" />
  <p>Dota та логотип Dota є товарними знаками та/або зареєстрованими товарними знаками Valve Corporation. 2023 Valve Corporation, усі права захищені.</p>
</footer>